# Database Configuration
DB_HOST=<enter_your_value>
DB_NAME=<enter_your_value>
DB_USER=<enter_your_value>
DB_PASSWORD=<enter_your_value>
DB_PORT=<enter_your_value>

# Server Configuration
PORT=<enter_your_value>

# PostgreSQL Docker Configuration
POSTGRES_DB=${DB_NAME}
POSTGRES_USER=${DB_USER}
POSTGRES_PASSWORD=${DB_PASSWORD}