<!DOCTYPE html> <!-- тип документа -->
<html lang="en"> <!-- мова сторінки -->
<head> <!-- службова частина сторінки-->
    <meta charset="UTF-8"> <!-- кодування тексту -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- адаптивність для смартфону -->
    <title>image-hosting</title> <!-- назва вкладки -->
    <link rel="preconnect" href="https://fonts.googleapis.com"> <!-- підключення шрифтів -->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> <!-- і тут -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
          rel="stylesheet"> <!-- стиль шрифту -->
    <link rel="stylesheet" href="/static/css/style.css"> <!-- підключення CSS файлу-->
</head>
<body> <!-- основна частина сторінки яку бачить юзер-->
<header> <!-- голова сторінки -->
    <div class="header"> <!-- блок заголовка -->
        <h1 class="header__title">Upload Photos</h1> <!-- найбільший заголовок -->
        <p class="header__text">Upload selfies, memes, or any fun pictures here.</p> <!-- опис в параграфі -->
    </div>
    <div class="header__button"> <!-- блок кнопки -->
        <a href="/upload" class="header__button-btn">Tail-ent Showcase</a> <!-- кнопка-посилання на сторінку завантаження фото-->
    </div>
</header>
<main> <!-- основна частина сторінки-->
    <div class="hero"> <!-- блок з картинками -->
        <div class="hero__img"><img class="img" src="/static/img/cat.png" alt="cat"></div> <!-- перша картинка -->
        <div class="hero__img"><img class="img" src="/static/img/zero.png" alt="zero"></div> <!-- друга картинка -->
        <div class="hero__img"><img class="img" src="/static/img/eric.png" alt="eric"></div> <!-- третя картинка -->
    </div>
</main>
<script src="/static/js/index.js"></script> <!-- підключення JS файлу-->
</body>
</html>