<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>image-hosting</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
<header>
    <div class="header">
        <h1 class="header__title">Upload Photos</h1>
        <p class="header__text">Upload selfies, memes, or any fun pictures here.</p>
    </div>
    <div class="header__button">
        <a href="/upload" class="header__button-btn">Tail-ent Showcase</a>
    </div>
</header>
<main>
    <div class="hero">
        <div class="hero__img"><img class="img" src="/static/img/cat.png" alt="cat"></div>
        <div class="hero__img"><img class="img" src="/static/img/zero.png" alt="zero"></div>
        <div class="hero__img"><img class="img" src="/static/img/eric.png" alt="eric"></div>
    </div>
</main>
<script src="/static/js/index.js"></script>
</body>
</html>